**/bin/**
**/obj/**
**/packages/**

**.suo
**.user
**.DotSettings
/ProjectDependencyBrowser
/ProjectDependencyBrowser.psess
/ProjectDependencyBrowser.sln.GhostDoc.xml
/ProjectDependencyBrowser141222.vspx
