<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="RootDirectory" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="SourceComponentGroup">
            <Component Id="cmp0AD7778AC85723AB7C1079D0D66319E0" Directory="RootDirectory" Guid="*">
                <Class Id="{09A09241-9304-360D-926E-D99B859EA52C}" Context="InprocServer32" Description="MyToolkit.MVVM.BaseViewModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="MyToolkit.MVVM.BaseViewModel" Description="MyToolkit.MVVM.BaseViewModel" />
                </Class>
                <Class Id="{0B1649E7-36D4-3E49-BAA7-9C857D04DD70}" Context="InprocServer32" Description="MyToolkit.WorkflowEngine.Activities.EmptyActivity" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="MyToolkit.WorkflowEngine.Activities.EmptyActivity" Description="MyToolkit.WorkflowEngine.Activities.EmptyActivity" />
                </Class>
                <Class Id="{0C192D2E-2184-3894-9AE8-C14D1072AB5D}" Context="InprocServer32" Description="MyToolkit.WorkflowEngine.Activities.ForkActivity" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="MyToolkit.WorkflowEngine.Activities.ForkActivity" Description="MyToolkit.WorkflowEngine.Activities.ForkActivity" />
                </Class>
                <Class Id="{11D12C42-D00F-3A74-B614-D73DB47D45F0}" Context="InprocServer32" Description="MyToolkit.IO.Utf8StringWriter" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="MyToolkit.IO.Utf8StringWriter" Description="MyToolkit.IO.Utf8StringWriter" />
                </Class>
                <Class Id="{1B51C6EC-0740-344A-A90B-171353EEAFAB}" Context="InprocServer32" Description="MyToolkit.WorkflowEngine.Activities.JoinActivity" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="MyToolkit.WorkflowEngine.Activities.JoinActivity" Description="MyToolkit.WorkflowEngine.Activities.JoinActivity" />
                </Class>
                <Class Id="{27133736-DBB3-356A-B083-67DFC60485B5}" Context="InprocServer32" Description="MyToolkit.WorkflowEngine.WorkflowDataProvider" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="MyToolkit.WorkflowEngine.WorkflowDataProvider" Description="MyToolkit.WorkflowEngine.WorkflowDataProvider" />
                </Class>
                <Class Id="{27CE9726-7DAF-3312-9549-2E20E38830BC}" Context="InprocServer32" Description="MyToolkit.WorkflowEngine.WorkflowDefinition" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="MyToolkit.WorkflowEngine.WorkflowDefinition" Description="MyToolkit.WorkflowEngine.WorkflowDefinition" />
                </Class>
                <Class Id="{2E65F886-00F7-3835-8BA3-D057C2E16681}" Context="InprocServer32" Description="MyToolkit.MVVM.NotifyPropertyChanged" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="MyToolkit.MVVM.NotifyPropertyChanged" Description="MyToolkit.MVVM.NotifyPropertyChanged" />
                </Class>
                <Class Id="{3BB69995-B988-3E43-99FD-49052C7E7528}" Context="InprocServer32" Description="MyToolkit.WorkflowEngine.Activities.EmptyAutomaticActivity" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="MyToolkit.WorkflowEngine.Activities.EmptyAutomaticActivity" Description="MyToolkit.WorkflowEngine.Activities.EmptyAutomaticActivity" />
                </Class>
                <Class Id="{4C230B6E-A053-35FD-8EB2-2ED78921D2D9}" Context="InprocServer32" Description="MyToolkit.Messaging.GoBackMessage" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="MyToolkit.Messaging.GoBackMessage" Description="MyToolkit.Messaging.GoBackMessage" />
                </Class>
                <Class Id="{5E1671E7-013F-31B5-869B-7DE64C19DA5A}" Context="InprocServer32" Description="MyToolkit.WorkflowEngine.CurrentActivitiesChangedEventArgs" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="MyToolkit.WorkflowEngine.CurrentActivitiesChangedEventArgs" Description="MyToolkit.WorkflowEngine.CurrentActivitiesChangedEventArgs" />
                </Class>
                <Class Id="{87F1FF56-7ACE-3B87-B090-51519CCD2252}" Context="InprocServer32" Description="MyToolkit.WorkflowEngine.ActivityDataBase" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="MyToolkit.WorkflowEngine.ActivityDataBase" Description="MyToolkit.WorkflowEngine.ActivityDataBase" />
                </Class>
                <Class Id="{A0B9A584-F863-3D52-8284-47503C845D8E}" Context="InprocServer32" Description="MyToolkit.Mvvm.ViewModelBase" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="MyToolkit.Mvvm.ViewModelBase" Description="MyToolkit.Mvvm.ViewModelBase" />
                </Class>
                <Class Id="{A40B8AB8-4F61-3B03-A138-1DE206D65D10}" Context="InprocServer32" Description="MyToolkit.Composition.CompositionContext" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="MyToolkit.Composition.CompositionContext" Description="MyToolkit.Composition.CompositionContext" />
                </Class>
                <Class Id="{A45B358D-692D-3212-9903-755B7B2DECEE}" Context="InprocServer32" Description="MyToolkit.Messaging.Messenger" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="MyToolkit.Messaging.Messenger" Description="MyToolkit.Messaging.Messenger" />
                </Class>
                <Class Id="{A8B4AEE3-0C53-3947-B2A6-D146312879A8}" Context="InprocServer32" Description="MyToolkit.Utilities.CommandProcessor" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="MyToolkit.Utilities.CommandProcessor" Description="MyToolkit.Utilities.CommandProcessor" />
                </Class>
                <Class Id="{AC46582D-3FC7-3EFF-AEC2-976D766A0A97}" Context="InprocServer32" Description="MyToolkit.Composition.ServiceLocator" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="MyToolkit.Composition.ServiceLocator" Description="MyToolkit.Composition.ServiceLocator" />
                </Class>
                <Class Id="{B72AE309-0BED-35E9-8187-EFD4E01978D2}" Context="InprocServer32" Description="MyToolkit.Model.ExtendedObservableObject" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="MyToolkit.Model.ExtendedObservableObject" Description="MyToolkit.Model.ExtendedObservableObject" />
                </Class>
                <Class Id="{B74CD5FA-DCB1-3766-8A38-168ADC30D6B7}" Context="InprocServer32" Description="MyToolkit.Model.ObservableObject" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="MyToolkit.Model.ObservableObject" Description="MyToolkit.Model.ObservableObject" />
                </Class>
                <Class Id="{C2AE5ABC-7015-3657-A480-073EA2C9B0DE}" Context="InprocServer32" Description="MyToolkit.WorkflowEngine.WorkflowTransition" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="MyToolkit.WorkflowEngine.WorkflowTransition" Description="MyToolkit.WorkflowEngine.WorkflowTransition" />
                </Class>
                <File Id="fil62CEF58587643A2DDA67E24E70D86586" KeyPath="yes" Source="$(var.SourcePath)\MyToolkit.dll" />
                <ProgId Id="Record" />
                <RegistryValue Root="HKCR" Key="CLSID\{09A09241-9304-360D-926E-D99B859EA52C}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{09A09241-9304-360D-926E-D99B859EA52C}\InprocServer32\2.3.10.0" Name="Class" Value="MyToolkit.MVVM.BaseViewModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{09A09241-9304-360D-926E-D99B859EA52C}\InprocServer32\2.3.10.0" Name="Assembly" Value="MyToolkit, Version=2.3.10.0, Culture=neutral, PublicKeyToken=3e349a1360994d26" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{09A09241-9304-360D-926E-D99B859EA52C}\InprocServer32\2.3.10.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{09A09241-9304-360D-926E-D99B859EA52C}\InprocServer32\2.3.10.0" Name="CodeBase" Value="file:///[#fil62CEF58587643A2DDA67E24E70D86586]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{09A09241-9304-360D-926E-D99B859EA52C}\InprocServer32" Name="Class" Value="MyToolkit.MVVM.BaseViewModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{09A09241-9304-360D-926E-D99B859EA52C}\InprocServer32" Name="Assembly" Value="MyToolkit, Version=2.3.10.0, Culture=neutral, PublicKeyToken=3e349a1360994d26" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{09A09241-9304-360D-926E-D99B859EA52C}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{09A09241-9304-360D-926E-D99B859EA52C}\InprocServer32" Name="CodeBase" Value="file:///[#fil62CEF58587643A2DDA67E24E70D86586]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0B1649E7-36D4-3E49-BAA7-9C857D04DD70}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0B1649E7-36D4-3E49-BAA7-9C857D04DD70}\InprocServer32\2.3.10.0" Name="Class" Value="MyToolkit.WorkflowEngine.Activities.EmptyActivity" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0B1649E7-36D4-3E49-BAA7-9C857D04DD70}\InprocServer32\2.3.10.0" Name="Assembly" Value="MyToolkit, Version=2.3.10.0, Culture=neutral, PublicKeyToken=3e349a1360994d26" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0B1649E7-36D4-3E49-BAA7-9C857D04DD70}\InprocServer32\2.3.10.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0B1649E7-36D4-3E49-BAA7-9C857D04DD70}\InprocServer32\2.3.10.0" Name="CodeBase" Value="file:///[#fil62CEF58587643A2DDA67E24E70D86586]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0B1649E7-36D4-3E49-BAA7-9C857D04DD70}\InprocServer32" Name="Class" Value="MyToolkit.WorkflowEngine.Activities.EmptyActivity" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0B1649E7-36D4-3E49-BAA7-9C857D04DD70}\InprocServer32" Name="Assembly" Value="MyToolkit, Version=2.3.10.0, Culture=neutral, PublicKeyToken=3e349a1360994d26" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0B1649E7-36D4-3E49-BAA7-9C857D04DD70}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0B1649E7-36D4-3E49-BAA7-9C857D04DD70}\InprocServer32" Name="CodeBase" Value="file:///[#fil62CEF58587643A2DDA67E24E70D86586]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0C192D2E-2184-3894-9AE8-C14D1072AB5D}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0C192D2E-2184-3894-9AE8-C14D1072AB5D}\InprocServer32\2.3.10.0" Name="Class" Value="MyToolkit.WorkflowEngine.Activities.ForkActivity" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0C192D2E-2184-3894-9AE8-C14D1072AB5D}\InprocServer32\2.3.10.0" Name="Assembly" Value="MyToolkit, Version=2.3.10.0, Culture=neutral, PublicKeyToken=3e349a1360994d26" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0C192D2E-2184-3894-9AE8-C14D1072AB5D}\InprocServer32\2.3.10.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0C192D2E-2184-3894-9AE8-C14D1072AB5D}\InprocServer32\2.3.10.0" Name="CodeBase" Value="file:///[#fil62CEF58587643A2DDA67E24E70D86586]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0C192D2E-2184-3894-9AE8-C14D1072AB5D}\InprocServer32" Name="Class" Value="MyToolkit.WorkflowEngine.Activities.ForkActivity" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0C192D2E-2184-3894-9AE8-C14D1072AB5D}\InprocServer32" Name="Assembly" Value="MyToolkit, Version=2.3.10.0, Culture=neutral, PublicKeyToken=3e349a1360994d26" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0C192D2E-2184-3894-9AE8-C14D1072AB5D}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0C192D2E-2184-3894-9AE8-C14D1072AB5D}\InprocServer32" Name="CodeBase" Value="file:///[#fil62CEF58587643A2DDA67E24E70D86586]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{11D12C42-D00F-3A74-B614-D73DB47D45F0}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{11D12C42-D00F-3A74-B614-D73DB47D45F0}\InprocServer32\2.3.10.0" Name="Class" Value="MyToolkit.IO.Utf8StringWriter" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{11D12C42-D00F-3A74-B614-D73DB47D45F0}\InprocServer32\2.3.10.0" Name="Assembly" Value="MyToolkit, Version=2.3.10.0, Culture=neutral, PublicKeyToken=3e349a1360994d26" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{11D12C42-D00F-3A74-B614-D73DB47D45F0}\InprocServer32\2.3.10.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{11D12C42-D00F-3A74-B614-D73DB47D45F0}\InprocServer32\2.3.10.0" Name="CodeBase" Value="file:///[#fil62CEF58587643A2DDA67E24E70D86586]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{11D12C42-D00F-3A74-B614-D73DB47D45F0}\InprocServer32" Name="Class" Value="MyToolkit.IO.Utf8StringWriter" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{11D12C42-D00F-3A74-B614-D73DB47D45F0}\InprocServer32" Name="Assembly" Value="MyToolkit, Version=2.3.10.0, Culture=neutral, PublicKeyToken=3e349a1360994d26" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{11D12C42-D00F-3A74-B614-D73DB47D45F0}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{11D12C42-D00F-3A74-B614-D73DB47D45F0}\InprocServer32" Name="CodeBase" Value="file:///[#fil62CEF58587643A2DDA67E24E70D86586]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1B51C6EC-0740-344A-A90B-171353EEAFAB}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1B51C6EC-0740-344A-A90B-171353EEAFAB}\InprocServer32\2.3.10.0" Name="Class" Value="MyToolkit.WorkflowEngine.Activities.JoinActivity" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1B51C6EC-0740-344A-A90B-171353EEAFAB}\InprocServer32\2.3.10.0" Name="Assembly" Value="MyToolkit, Version=2.3.10.0, Culture=neutral, PublicKeyToken=3e349a1360994d26" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1B51C6EC-0740-344A-A90B-171353EEAFAB}\InprocServer32\2.3.10.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1B51C6EC-0740-344A-A90B-171353EEAFAB}\InprocServer32\2.3.10.0" Name="CodeBase" Value="file:///[#fil62CEF58587643A2DDA67E24E70D86586]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1B51C6EC-0740-344A-A90B-171353EEAFAB}\InprocServer32" Name="Class" Value="MyToolkit.WorkflowEngine.Activities.JoinActivity" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1B51C6EC-0740-344A-A90B-171353EEAFAB}\InprocServer32" Name="Assembly" Value="MyToolkit, Version=2.3.10.0, Culture=neutral, PublicKeyToken=3e349a1360994d26" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1B51C6EC-0740-344A-A90B-171353EEAFAB}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1B51C6EC-0740-344A-A90B-171353EEAFAB}\InprocServer32" Name="CodeBase" Value="file:///[#fil62CEF58587643A2DDA67E24E70D86586]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{27133736-DBB3-356A-B083-67DFC60485B5}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{27133736-DBB3-356A-B083-67DFC60485B5}\InprocServer32\2.3.10.0" Name="Class" Value="MyToolkit.WorkflowEngine.WorkflowDataProvider" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{27133736-DBB3-356A-B083-67DFC60485B5}\InprocServer32\2.3.10.0" Name="Assembly" Value="MyToolkit, Version=2.3.10.0, Culture=neutral, PublicKeyToken=3e349a1360994d26" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{27133736-DBB3-356A-B083-67DFC60485B5}\InprocServer32\2.3.10.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{27133736-DBB3-356A-B083-67DFC60485B5}\InprocServer32\2.3.10.0" Name="CodeBase" Value="file:///[#fil62CEF58587643A2DDA67E24E70D86586]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{27133736-DBB3-356A-B083-67DFC60485B5}\InprocServer32" Name="Class" Value="MyToolkit.WorkflowEngine.WorkflowDataProvider" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{27133736-DBB3-356A-B083-67DFC60485B5}\InprocServer32" Name="Assembly" Value="MyToolkit, Version=2.3.10.0, Culture=neutral, PublicKeyToken=3e349a1360994d26" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{27133736-DBB3-356A-B083-67DFC60485B5}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{27133736-DBB3-356A-B083-67DFC60485B5}\InprocServer32" Name="CodeBase" Value="file:///[#fil62CEF58587643A2DDA67E24E70D86586]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{27CE9726-7DAF-3312-9549-2E20E38830BC}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{27CE9726-7DAF-3312-9549-2E20E38830BC}\InprocServer32\2.3.10.0" Name="Class" Value="MyToolkit.WorkflowEngine.WorkflowDefinition" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{27CE9726-7DAF-3312-9549-2E20E38830BC}\InprocServer32\2.3.10.0" Name="Assembly" Value="MyToolkit, Version=2.3.10.0, Culture=neutral, PublicKeyToken=3e349a1360994d26" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{27CE9726-7DAF-3312-9549-2E20E38830BC}\InprocServer32\2.3.10.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{27CE9726-7DAF-3312-9549-2E20E38830BC}\InprocServer32\2.3.10.0" Name="CodeBase" Value="file:///[#fil62CEF58587643A2DDA67E24E70D86586]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{27CE9726-7DAF-3312-9549-2E20E38830BC}\InprocServer32" Name="Class" Value="MyToolkit.WorkflowEngine.WorkflowDefinition" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{27CE9726-7DAF-3312-9549-2E20E38830BC}\InprocServer32" Name="Assembly" Value="MyToolkit, Version=2.3.10.0, Culture=neutral, PublicKeyToken=3e349a1360994d26" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{27CE9726-7DAF-3312-9549-2E20E38830BC}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{27CE9726-7DAF-3312-9549-2E20E38830BC}\InprocServer32" Name="CodeBase" Value="file:///[#fil62CEF58587643A2DDA67E24E70D86586]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2E65F886-00F7-3835-8BA3-D057C2E16681}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2E65F886-00F7-3835-8BA3-D057C2E16681}\InprocServer32\2.3.10.0" Name="Class" Value="MyToolkit.MVVM.NotifyPropertyChanged" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2E65F886-00F7-3835-8BA3-D057C2E16681}\InprocServer32\2.3.10.0" Name="Assembly" Value="MyToolkit, Version=2.3.10.0, Culture=neutral, PublicKeyToken=3e349a1360994d26" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2E65F886-00F7-3835-8BA3-D057C2E16681}\InprocServer32\2.3.10.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2E65F886-00F7-3835-8BA3-D057C2E16681}\InprocServer32\2.3.10.0" Name="CodeBase" Value="file:///[#fil62CEF58587643A2DDA67E24E70D86586]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2E65F886-00F7-3835-8BA3-D057C2E16681}\InprocServer32" Name="Class" Value="MyToolkit.MVVM.NotifyPropertyChanged" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2E65F886-00F7-3835-8BA3-D057C2E16681}\InprocServer32" Name="Assembly" Value="MyToolkit, Version=2.3.10.0, Culture=neutral, PublicKeyToken=3e349a1360994d26" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2E65F886-00F7-3835-8BA3-D057C2E16681}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2E65F886-00F7-3835-8BA3-D057C2E16681}\InprocServer32" Name="CodeBase" Value="file:///[#fil62CEF58587643A2DDA67E24E70D86586]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{3BB69995-B988-3E43-99FD-49052C7E7528}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{3BB69995-B988-3E43-99FD-49052C7E7528}\InprocServer32\2.3.10.0" Name="Class" Value="MyToolkit.WorkflowEngine.Activities.EmptyAutomaticActivity" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{3BB69995-B988-3E43-99FD-49052C7E7528}\InprocServer32\2.3.10.0" Name="Assembly" Value="MyToolkit, Version=2.3.10.0, Culture=neutral, PublicKeyToken=3e349a1360994d26" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{3BB69995-B988-3E43-99FD-49052C7E7528}\InprocServer32\2.3.10.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{3BB69995-B988-3E43-99FD-49052C7E7528}\InprocServer32\2.3.10.0" Name="CodeBase" Value="file:///[#fil62CEF58587643A2DDA67E24E70D86586]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{3BB69995-B988-3E43-99FD-49052C7E7528}\InprocServer32" Name="Class" Value="MyToolkit.WorkflowEngine.Activities.EmptyAutomaticActivity" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{3BB69995-B988-3E43-99FD-49052C7E7528}\InprocServer32" Name="Assembly" Value="MyToolkit, Version=2.3.10.0, Culture=neutral, PublicKeyToken=3e349a1360994d26" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{3BB69995-B988-3E43-99FD-49052C7E7528}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{3BB69995-B988-3E43-99FD-49052C7E7528}\InprocServer32" Name="CodeBase" Value="file:///[#fil62CEF58587643A2DDA67E24E70D86586]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4C230B6E-A053-35FD-8EB2-2ED78921D2D9}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4C230B6E-A053-35FD-8EB2-2ED78921D2D9}\InprocServer32\2.3.10.0" Name="Class" Value="MyToolkit.Messaging.GoBackMessage" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4C230B6E-A053-35FD-8EB2-2ED78921D2D9}\InprocServer32\2.3.10.0" Name="Assembly" Value="MyToolkit, Version=2.3.10.0, Culture=neutral, PublicKeyToken=3e349a1360994d26" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4C230B6E-A053-35FD-8EB2-2ED78921D2D9}\InprocServer32\2.3.10.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4C230B6E-A053-35FD-8EB2-2ED78921D2D9}\InprocServer32\2.3.10.0" Name="CodeBase" Value="file:///[#fil62CEF58587643A2DDA67E24E70D86586]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4C230B6E-A053-35FD-8EB2-2ED78921D2D9}\InprocServer32" Name="Class" Value="MyToolkit.Messaging.GoBackMessage" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4C230B6E-A053-35FD-8EB2-2ED78921D2D9}\InprocServer32" Name="Assembly" Value="MyToolkit, Version=2.3.10.0, Culture=neutral, PublicKeyToken=3e349a1360994d26" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4C230B6E-A053-35FD-8EB2-2ED78921D2D9}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4C230B6E-A053-35FD-8EB2-2ED78921D2D9}\InprocServer32" Name="CodeBase" Value="file:///[#fil62CEF58587643A2DDA67E24E70D86586]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5E1671E7-013F-31B5-869B-7DE64C19DA5A}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5E1671E7-013F-31B5-869B-7DE64C19DA5A}\InprocServer32\2.3.10.0" Name="Class" Value="MyToolkit.WorkflowEngine.CurrentActivitiesChangedEventArgs" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5E1671E7-013F-31B5-869B-7DE64C19DA5A}\InprocServer32\2.3.10.0" Name="Assembly" Value="MyToolkit, Version=2.3.10.0, Culture=neutral, PublicKeyToken=3e349a1360994d26" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5E1671E7-013F-31B5-869B-7DE64C19DA5A}\InprocServer32\2.3.10.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5E1671E7-013F-31B5-869B-7DE64C19DA5A}\InprocServer32\2.3.10.0" Name="CodeBase" Value="file:///[#fil62CEF58587643A2DDA67E24E70D86586]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5E1671E7-013F-31B5-869B-7DE64C19DA5A}\InprocServer32" Name="Class" Value="MyToolkit.WorkflowEngine.CurrentActivitiesChangedEventArgs" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5E1671E7-013F-31B5-869B-7DE64C19DA5A}\InprocServer32" Name="Assembly" Value="MyToolkit, Version=2.3.10.0, Culture=neutral, PublicKeyToken=3e349a1360994d26" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5E1671E7-013F-31B5-869B-7DE64C19DA5A}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5E1671E7-013F-31B5-869B-7DE64C19DA5A}\InprocServer32" Name="CodeBase" Value="file:///[#fil62CEF58587643A2DDA67E24E70D86586]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{87F1FF56-7ACE-3B87-B090-51519CCD2252}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{87F1FF56-7ACE-3B87-B090-51519CCD2252}\InprocServer32\2.3.10.0" Name="Class" Value="MyToolkit.WorkflowEngine.ActivityDataBase" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{87F1FF56-7ACE-3B87-B090-51519CCD2252}\InprocServer32\2.3.10.0" Name="Assembly" Value="MyToolkit, Version=2.3.10.0, Culture=neutral, PublicKeyToken=3e349a1360994d26" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{87F1FF56-7ACE-3B87-B090-51519CCD2252}\InprocServer32\2.3.10.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{87F1FF56-7ACE-3B87-B090-51519CCD2252}\InprocServer32\2.3.10.0" Name="CodeBase" Value="file:///[#fil62CEF58587643A2DDA67E24E70D86586]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{87F1FF56-7ACE-3B87-B090-51519CCD2252}\InprocServer32" Name="Class" Value="MyToolkit.WorkflowEngine.ActivityDataBase" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{87F1FF56-7ACE-3B87-B090-51519CCD2252}\InprocServer32" Name="Assembly" Value="MyToolkit, Version=2.3.10.0, Culture=neutral, PublicKeyToken=3e349a1360994d26" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{87F1FF56-7ACE-3B87-B090-51519CCD2252}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{87F1FF56-7ACE-3B87-B090-51519CCD2252}\InprocServer32" Name="CodeBase" Value="file:///[#fil62CEF58587643A2DDA67E24E70D86586]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A0B9A584-F863-3D52-8284-47503C845D8E}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A0B9A584-F863-3D52-8284-47503C845D8E}\InprocServer32\2.3.10.0" Name="Class" Value="MyToolkit.Mvvm.ViewModelBase" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A0B9A584-F863-3D52-8284-47503C845D8E}\InprocServer32\2.3.10.0" Name="Assembly" Value="MyToolkit, Version=2.3.10.0, Culture=neutral, PublicKeyToken=3e349a1360994d26" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A0B9A584-F863-3D52-8284-47503C845D8E}\InprocServer32\2.3.10.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A0B9A584-F863-3D52-8284-47503C845D8E}\InprocServer32\2.3.10.0" Name="CodeBase" Value="file:///[#fil62CEF58587643A2DDA67E24E70D86586]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A0B9A584-F863-3D52-8284-47503C845D8E}\InprocServer32" Name="Class" Value="MyToolkit.Mvvm.ViewModelBase" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A0B9A584-F863-3D52-8284-47503C845D8E}\InprocServer32" Name="Assembly" Value="MyToolkit, Version=2.3.10.0, Culture=neutral, PublicKeyToken=3e349a1360994d26" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A0B9A584-F863-3D52-8284-47503C845D8E}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A0B9A584-F863-3D52-8284-47503C845D8E}\InprocServer32" Name="CodeBase" Value="file:///[#fil62CEF58587643A2DDA67E24E70D86586]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A40B8AB8-4F61-3B03-A138-1DE206D65D10}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A40B8AB8-4F61-3B03-A138-1DE206D65D10}\InprocServer32\2.3.10.0" Name="Class" Value="MyToolkit.Composition.CompositionContext" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A40B8AB8-4F61-3B03-A138-1DE206D65D10}\InprocServer32\2.3.10.0" Name="Assembly" Value="MyToolkit, Version=2.3.10.0, Culture=neutral, PublicKeyToken=3e349a1360994d26" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A40B8AB8-4F61-3B03-A138-1DE206D65D10}\InprocServer32\2.3.10.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A40B8AB8-4F61-3B03-A138-1DE206D65D10}\InprocServer32\2.3.10.0" Name="CodeBase" Value="file:///[#fil62CEF58587643A2DDA67E24E70D86586]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A40B8AB8-4F61-3B03-A138-1DE206D65D10}\InprocServer32" Name="Class" Value="MyToolkit.Composition.CompositionContext" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A40B8AB8-4F61-3B03-A138-1DE206D65D10}\InprocServer32" Name="Assembly" Value="MyToolkit, Version=2.3.10.0, Culture=neutral, PublicKeyToken=3e349a1360994d26" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A40B8AB8-4F61-3B03-A138-1DE206D65D10}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A40B8AB8-4F61-3B03-A138-1DE206D65D10}\InprocServer32" Name="CodeBase" Value="file:///[#fil62CEF58587643A2DDA67E24E70D86586]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A45B358D-692D-3212-9903-755B7B2DECEE}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A45B358D-692D-3212-9903-755B7B2DECEE}\InprocServer32\2.3.10.0" Name="Class" Value="MyToolkit.Messaging.Messenger" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A45B358D-692D-3212-9903-755B7B2DECEE}\InprocServer32\2.3.10.0" Name="Assembly" Value="MyToolkit, Version=2.3.10.0, Culture=neutral, PublicKeyToken=3e349a1360994d26" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A45B358D-692D-3212-9903-755B7B2DECEE}\InprocServer32\2.3.10.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A45B358D-692D-3212-9903-755B7B2DECEE}\InprocServer32\2.3.10.0" Name="CodeBase" Value="file:///[#fil62CEF58587643A2DDA67E24E70D86586]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A45B358D-692D-3212-9903-755B7B2DECEE}\InprocServer32" Name="Class" Value="MyToolkit.Messaging.Messenger" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A45B358D-692D-3212-9903-755B7B2DECEE}\InprocServer32" Name="Assembly" Value="MyToolkit, Version=2.3.10.0, Culture=neutral, PublicKeyToken=3e349a1360994d26" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A45B358D-692D-3212-9903-755B7B2DECEE}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A45B358D-692D-3212-9903-755B7B2DECEE}\InprocServer32" Name="CodeBase" Value="file:///[#fil62CEF58587643A2DDA67E24E70D86586]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A8B4AEE3-0C53-3947-B2A6-D146312879A8}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A8B4AEE3-0C53-3947-B2A6-D146312879A8}\InprocServer32\2.3.10.0" Name="Class" Value="MyToolkit.Utilities.CommandProcessor" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A8B4AEE3-0C53-3947-B2A6-D146312879A8}\InprocServer32\2.3.10.0" Name="Assembly" Value="MyToolkit, Version=2.3.10.0, Culture=neutral, PublicKeyToken=3e349a1360994d26" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A8B4AEE3-0C53-3947-B2A6-D146312879A8}\InprocServer32\2.3.10.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A8B4AEE3-0C53-3947-B2A6-D146312879A8}\InprocServer32\2.3.10.0" Name="CodeBase" Value="file:///[#fil62CEF58587643A2DDA67E24E70D86586]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A8B4AEE3-0C53-3947-B2A6-D146312879A8}\InprocServer32" Name="Class" Value="MyToolkit.Utilities.CommandProcessor" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A8B4AEE3-0C53-3947-B2A6-D146312879A8}\InprocServer32" Name="Assembly" Value="MyToolkit, Version=2.3.10.0, Culture=neutral, PublicKeyToken=3e349a1360994d26" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A8B4AEE3-0C53-3947-B2A6-D146312879A8}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A8B4AEE3-0C53-3947-B2A6-D146312879A8}\InprocServer32" Name="CodeBase" Value="file:///[#fil62CEF58587643A2DDA67E24E70D86586]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{AC46582D-3FC7-3EFF-AEC2-976D766A0A97}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{AC46582D-3FC7-3EFF-AEC2-976D766A0A97}\InprocServer32\2.3.10.0" Name="Class" Value="MyToolkit.Composition.ServiceLocator" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{AC46582D-3FC7-3EFF-AEC2-976D766A0A97}\InprocServer32\2.3.10.0" Name="Assembly" Value="MyToolkit, Version=2.3.10.0, Culture=neutral, PublicKeyToken=3e349a1360994d26" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{AC46582D-3FC7-3EFF-AEC2-976D766A0A97}\InprocServer32\2.3.10.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{AC46582D-3FC7-3EFF-AEC2-976D766A0A97}\InprocServer32\2.3.10.0" Name="CodeBase" Value="file:///[#fil62CEF58587643A2DDA67E24E70D86586]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{AC46582D-3FC7-3EFF-AEC2-976D766A0A97}\InprocServer32" Name="Class" Value="MyToolkit.Composition.ServiceLocator" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{AC46582D-3FC7-3EFF-AEC2-976D766A0A97}\InprocServer32" Name="Assembly" Value="MyToolkit, Version=2.3.10.0, Culture=neutral, PublicKeyToken=3e349a1360994d26" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{AC46582D-3FC7-3EFF-AEC2-976D766A0A97}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{AC46582D-3FC7-3EFF-AEC2-976D766A0A97}\InprocServer32" Name="CodeBase" Value="file:///[#fil62CEF58587643A2DDA67E24E70D86586]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B72AE309-0BED-35E9-8187-EFD4E01978D2}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B72AE309-0BED-35E9-8187-EFD4E01978D2}\InprocServer32\2.3.10.0" Name="Class" Value="MyToolkit.Model.ExtendedObservableObject" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B72AE309-0BED-35E9-8187-EFD4E01978D2}\InprocServer32\2.3.10.0" Name="Assembly" Value="MyToolkit, Version=2.3.10.0, Culture=neutral, PublicKeyToken=3e349a1360994d26" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B72AE309-0BED-35E9-8187-EFD4E01978D2}\InprocServer32\2.3.10.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B72AE309-0BED-35E9-8187-EFD4E01978D2}\InprocServer32\2.3.10.0" Name="CodeBase" Value="file:///[#fil62CEF58587643A2DDA67E24E70D86586]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B72AE309-0BED-35E9-8187-EFD4E01978D2}\InprocServer32" Name="Class" Value="MyToolkit.Model.ExtendedObservableObject" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B72AE309-0BED-35E9-8187-EFD4E01978D2}\InprocServer32" Name="Assembly" Value="MyToolkit, Version=2.3.10.0, Culture=neutral, PublicKeyToken=3e349a1360994d26" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B72AE309-0BED-35E9-8187-EFD4E01978D2}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B72AE309-0BED-35E9-8187-EFD4E01978D2}\InprocServer32" Name="CodeBase" Value="file:///[#fil62CEF58587643A2DDA67E24E70D86586]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B74CD5FA-DCB1-3766-8A38-168ADC30D6B7}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B74CD5FA-DCB1-3766-8A38-168ADC30D6B7}\InprocServer32\2.3.10.0" Name="Class" Value="MyToolkit.Model.ObservableObject" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B74CD5FA-DCB1-3766-8A38-168ADC30D6B7}\InprocServer32\2.3.10.0" Name="Assembly" Value="MyToolkit, Version=2.3.10.0, Culture=neutral, PublicKeyToken=3e349a1360994d26" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B74CD5FA-DCB1-3766-8A38-168ADC30D6B7}\InprocServer32\2.3.10.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B74CD5FA-DCB1-3766-8A38-168ADC30D6B7}\InprocServer32\2.3.10.0" Name="CodeBase" Value="file:///[#fil62CEF58587643A2DDA67E24E70D86586]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B74CD5FA-DCB1-3766-8A38-168ADC30D6B7}\InprocServer32" Name="Class" Value="MyToolkit.Model.ObservableObject" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B74CD5FA-DCB1-3766-8A38-168ADC30D6B7}\InprocServer32" Name="Assembly" Value="MyToolkit, Version=2.3.10.0, Culture=neutral, PublicKeyToken=3e349a1360994d26" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B74CD5FA-DCB1-3766-8A38-168ADC30D6B7}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B74CD5FA-DCB1-3766-8A38-168ADC30D6B7}\InprocServer32" Name="CodeBase" Value="file:///[#fil62CEF58587643A2DDA67E24E70D86586]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C2AE5ABC-7015-3657-A480-073EA2C9B0DE}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C2AE5ABC-7015-3657-A480-073EA2C9B0DE}\InprocServer32\2.3.10.0" Name="Class" Value="MyToolkit.WorkflowEngine.WorkflowTransition" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C2AE5ABC-7015-3657-A480-073EA2C9B0DE}\InprocServer32\2.3.10.0" Name="Assembly" Value="MyToolkit, Version=2.3.10.0, Culture=neutral, PublicKeyToken=3e349a1360994d26" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C2AE5ABC-7015-3657-A480-073EA2C9B0DE}\InprocServer32\2.3.10.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C2AE5ABC-7015-3657-A480-073EA2C9B0DE}\InprocServer32\2.3.10.0" Name="CodeBase" Value="file:///[#fil62CEF58587643A2DDA67E24E70D86586]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C2AE5ABC-7015-3657-A480-073EA2C9B0DE}\InprocServer32" Name="Class" Value="MyToolkit.WorkflowEngine.WorkflowTransition" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C2AE5ABC-7015-3657-A480-073EA2C9B0DE}\InprocServer32" Name="Assembly" Value="MyToolkit, Version=2.3.10.0, Culture=neutral, PublicKeyToken=3e349a1360994d26" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C2AE5ABC-7015-3657-A480-073EA2C9B0DE}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C2AE5ABC-7015-3657-A480-073EA2C9B0DE}\InprocServer32" Name="CodeBase" Value="file:///[#fil62CEF58587643A2DDA67E24E70D86586]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{2E0D648A-9D87-38C2-8E2F-DDF0DFE5D9CE}\2.3.10.0" Name="Class" Value="MyToolkit.Messaging.MessageResult" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{2E0D648A-9D87-38C2-8E2F-DDF0DFE5D9CE}\2.3.10.0" Name="Assembly" Value="MyToolkit, Version=2.3.10.0, Culture=neutral, PublicKeyToken=3e349a1360994d26" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{2E0D648A-9D87-38C2-8E2F-DDF0DFE5D9CE}\2.3.10.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{2E0D648A-9D87-38C2-8E2F-DDF0DFE5D9CE}\2.3.10.0" Name="CodeBase" Value="file:///[#fil62CEF58587643A2DDA67E24E70D86586]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{B05C5757-8F78-34B8-8CA8-B3C5A016B81A}\2.3.10.0" Name="Class" Value="MyToolkit.Messaging.MessageButton" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{B05C5757-8F78-34B8-8CA8-B3C5A016B81A}\2.3.10.0" Name="Assembly" Value="MyToolkit, Version=2.3.10.0, Culture=neutral, PublicKeyToken=3e349a1360994d26" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{B05C5757-8F78-34B8-8CA8-B3C5A016B81A}\2.3.10.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{B05C5757-8F78-34B8-8CA8-B3C5A016B81A}\2.3.10.0" Name="CodeBase" Value="file:///[#fil62CEF58587643A2DDA67E24E70D86586]" Type="string" Action="write" />
            </Component>
            <Component Id="cmpCED5B7488C31D594E13DDD9CAB74BFD8" Directory="RootDirectory" Guid="*">
                <File Id="fil29681523F6C5F6494E9C0C2613364952" KeyPath="yes" Source="$(var.SourcePath)\MyToolkit.Extended.dll" />
            </Component>
            <Component Id="cmp5DA04D879E472CDB59610C78E2C06D67" Directory="RootDirectory" Guid="*">
                <File Id="fil9DE1E33FF998D56AD5CDDBB114A9D14E" KeyPath="yes" Source="$(var.SourcePath)\MyToolkit.Extended.xml" />
            </Component>
            <Component Id="cmp31D065AFFB2F9C455FBCDC62BD6A0282" Directory="RootDirectory" Guid="*">
                <File Id="fil2E9070A107598B8FB198EFBCF6062E75" KeyPath="yes" Source="$(var.SourcePath)\MyToolkit.xml" />
            </Component>
            <Component Id="cmp8DDA2E0B9C9992E9091632826CD14115" Directory="RootDirectory" Guid="*">
                <File Id="filA5EBBF9F38D88E859FC16465CE338E77" KeyPath="yes" Source="$(var.SourcePath)\ProjectDependencyBrowser.exe" />
            </Component>
            <Component Id="cmp80141C3268E42B304D022874FEBE67A4" Directory="RootDirectory" Guid="*">
                <File Id="fil3349DC1C4117CC0B9D101F7E20E9F6DA" KeyPath="yes" Source="$(var.SourcePath)\ProjectDependencyBrowser.exe.config" />
            </Component>
            <Component Id="cmp240824967B2D7CC42248F4A7D73CB02B" Directory="RootDirectory" Guid="*">
                <File Id="fil56EED72A9EB12BEB61AF203A5F54FE90" KeyPath="yes" Source="$(var.SourcePath)\ProjectDependencyBrowser.pdb" />
            </Component>
            <Component Id="cmp62C49E0F75916732487D50B6AA29AFDC" Directory="RootDirectory" Guid="*">
                <File Id="fil3F670B56B449AC5AEE69676BE411D330" KeyPath="yes" Source="$(var.SourcePath)\ProjectDependencyBrowser.vshost.exe" />
            </Component>
            <Component Id="cmp839DE72B6D13BD19B6BB1437ABD0ABE6" Directory="RootDirectory" Guid="*">
                <File Id="fil5468A59D52A996DB2A5E000426C72BB9" KeyPath="yes" Source="$(var.SourcePath)\ProjectDependencyBrowser.vshost.exe.config" />
            </Component>
            <Component Id="cmpB5A32562A27447D30228CBBB7CEB0011" Directory="RootDirectory" Guid="*">
                <File Id="fil665E6B01BDD5EB490D7542A434C069DF" KeyPath="yes" Source="$(var.SourcePath)\ProjectDependencyBrowser.vshost.exe.manifest" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>